<div class="container-fluid">
  <div class="col-md-6 col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading">
	<div class="panel-title pull-right">
	  {{#link-to 'components.edit' id classBinding=":btn :btn-primary"}}Edit{{/link-to}}
	</div>
	<div class="panel-title"><h2>{{name}}</h2></div>
      </div>
      <div class="panel-body">
	<p class="lead">{{description}}</p>
	<p>
	  <strong>Amount: </strong>{{amount}}
	  {{#if spares}}
	  (+spares)
	  {{/if}}
	</p>
	{{#each tag in tags}}
	<span class="label label-default">{{tag}}</span>
	{{/each}}
      </div>
    </div>
  </div>
</div>
