<div class="form-group tags-form">
  <label>Tags
    {{input type="text" classBinding=":form-control" value=tagInput action='addTag'}}
  </label>
  {{input type="text" classBinding=":form-control" value=tagValue}}
</div>
