<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          {{#link-to 'components.index'}}List components{{/link-to}}
        </li>
        <li>
          {{#link-to 'components.new'}}Add component{{/link-to}}
        </li>
      </ul>
      {{#if session.isAuthenticated}}
      <ul class="nav navbar-nav navbar-right">
        <p class="navbar-text">Logged in as {{currentUser.name}}</p>
        <li>
          <a href="javascript:void(0)" {{action 'invalidateSession'}}>Logout</a>
        </li>
      </ul>
      {{/if}}
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
