<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          {{#link-to 'components.index'}}List components{{/link-to}}
        </li>
        <li>
          {{#link-to 'components.new'}}Add component{{/link-to}}
        </li>
        <li>
          {{#link-to 'index'}}Item 3{{/link-to}}
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
