<span id="bs-indicator-xs" class="visible-xs" style="line-height: 0">&nbsp;</span>
<span id="bs-indicator-sm" class="visible-sm" style="line-height: 0">&nbsp;</span>
<span id="bs-indicator-md" class="visible-md" style="line-height: 0">&nbsp;</span>
<span id="bs-indicator-lg" class="visible-lg" style="line-height: 0">&nbsp;</span>
{{partial 'header'}}
{{partial 'menu'}}
{{#if loggedOut}}
<div class="alert alert-danger">Logged out</div>
{{/if}}
{{outlet}}
{{partial 'footer'}}
